@import "tailwindcss";

html, body {
	overscroll-behavior: none;
}

/* * {
	scrollbar-width: thin;
	scrollbar-color: #888 #1e1e1e;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #555;
} */

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes toastIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes toastOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.animate-toastIn {
	animation: toastIn 0.3s ease-out forwards;
}

.animate-toastOut {
	animation: toastOut 0.2s ease-in forwards;
	will-change: transform, opacity;
}

@layer utilities {
	@keyframes slideIn {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}
	.animate-slideIn {
		animation: slideIn 0.2s ease-out;
	}
}